doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Custom Flicker Photo App
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width')
		base(href='/')

		// build:css({.tmp,app}) styles/vendor.css
		link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
		// endbuild

		// build:css({.tmp,app}) styles/main.css
		// SAILS-LINKER:CSS
		// SAILS-LINKER:CSS END
		// endbuild

	body(ng-app='photoApp')
		.container(ng-view='')

		//[if lt IE 9]
		script(src='bower_components/es5-shim/es5-shim.js')
		script(src='bower_components/json3/lib/json3.min.js')
		//[endif]

		// build:js({.tmp,app}) scripts/vendor.js
		script(src='bower_components/jquery/jquery.js')
		script(src='bower_components/angular/angular.js')
		script(src='bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='bower_components/angular-animate/angular-animate.js')
		script(src='bower_components/angular-route/angular-route.js')
		script(src='bower_components/angular-touch/angular-touch.js')
		// endbuild

		// build:js({.tmp,app}) scripts/appScripts.js
		// SAILS-LINKER:APPJS
		// SAILS-LINKER:APPJS END
		// endbuild

