.header
	ul.nav.nav-pills.pull-right
		li.active
			a(ng-href='#') Home
		li
			a(ng-href='#') About
		li
			a(ng-href='#') Contact
	h3.text-muted photoApp
	.jumbotron
		h1 'Allo, 'Allo!
		p.lead
			img(src='images/yeoman.png', alt='I\'m Yeoman')
			br
			| Always a pleasure scaffolding your apps.
			p
			a.btn.btn-lg.btn-success(ng-href='#') Splendid!
	.row.marketing
		h4 HTML5 Boilerplate
		p
			| HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
		h4 Angular
		p
			| AngularJS is a toolset for building the framework most suited to your application development.
		h4 Karma
		p Spectacular Test Runner for JavaScript.
	.footer
		p ♥ from the Yeoman team
